.project-input {
  margin-top: 10px;
  height: 42px;
}
.dashboard-nav__user-card-pic {
  height: 42px;
  width: auto;
  border-radius: 100px;
}

.project-btn {
  margin-top: 15px;
  background-color: #6473ff !important;
}

.dashboard-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 100vw;
  height: 60px;
  border-bottom: 1px solid #eeeeee;
  .dashboard-nav__user-pic {
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: #857aff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .project-container {
    position: absolute;
    z-index: 10;
    background: white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    top: 60px;
    left: 200px;
    width: 280px;
    display: flex;
    flex-direction: column;
    p {
      padding: 15px;
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
    .project-container__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      li {
        cursor: pointer;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 10px 15px;
        .dashboard-container__details-image {
          height: 42px;
          width: 42px;
          font-size: 14px;
          font-weight: 500;
          color: white;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          background-color: #857aff;
        }
        .project-container__details {
          h4 {
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            padding-bottom: 5px;
            text-transform: capitalize;
          }
          p {
            text-transform: capitalize;
            font-size: 12px;
            font-weight: 400;
            color: #999999;
            padding: 0;
          }
        }
      }
      li:hover {
        background-color: #f4f4f4;
      }
    }
    .project-link {
      border-top: 1px solid #ddd;
      width: 100%;
      padding: 15px;
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      text-decoration: none;
      cursor: pointer;
    }
    .project-link:hover {
      background-color: #f4f4f4;
    }
  }

  .dashboard-nav__small-svg {
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: auto;
  }

  .dashboard-nav__logo {
    height: 32px;
    width: auto;
    cursor: pointer;
  }

  .dashboard-nav__links {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;
  }

  .dashboard-nav__user-profile {
    height: 32px;
    width: auto;
    border-radius: 100px;
    cursor: pointer;
  }

  .dashboard-nav__user-dropdown {
    position: absolute;
    z-index: 10;
    right: 40px;
    top: 60px;
    background: white;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 280px;

    .dashboard-nav__user-link {
      cursor: pointer;
      padding: 10px 20px;
    }

    .dashboard-nav__divider {
      height: 1px;
      background: #f4f4f4;
    }

    .dashboard-nav__user-logout {
      cursor: pointer;
      padding: 10px 20px;
      font-size: 14px;
    }

    .dashboard-nav__user-account {
      padding: 20px;

      label: {
        font-size: 12px;
        font-weight: 500;
        color: #999999;
      }

      .dashboard-nav__user-card {
        padding: 20px 0 0 0;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .dashboard-nav__user-card-row {
          h6 {
            font-size: 16px;
            font-weight: 500;
            color: #333333;
            margin-bottom: 5px;
            text-transform: capitalize;
          }

          p {
            font-size: 12px;
            font-weight: 400;
            color: #999999;
          }
        }
      }
    }
  }
}
