:root {
  font-family: "Roboto", sans-serif;
}

.ant-btn {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.projects-title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.dashboard__nav-link {
  color: #222;
}
.dashboard__nav-link:hover {
  color: #222;
  text-decoration: underline;
}

.dashboard-sprint__table-profile {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  cursor: pointer;
  img {
    height: 100%;
    width: 100%;
    border-radius: 100px;
  }
}

.dashboard-sprint__table-dropdown {
  display: flex;
  align-items: center;
  img {
    height: 16px;
    width: 16px;
  }
}

.dashboard-sprint__table-type {
  height: 14px;
  width: 14px;
}

.dashboard-sprint__table-points {
  font-size: 14px;
  color: #222;
  background-color: #eee;
  padding: 2px 4px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
